@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin.eot');
    src: url('roboto-thin.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin.woff') format('woff'),
         url('roboto-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotolight';
    src: url('roboto-light.eot');
    src: url('roboto-light.eot?#iefix') format('embedded-opentype'),
         url('roboto-light.woff') format('woff'),
         url('roboto-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular.eot');
    src: url('roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular.woff') format('woff'),
         url('roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium.eot');
    src: url('roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('roboto-medium.woff') format('woff'),
         url('roboto-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold.eot');
    src: url('roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('roboto-bold.woff') format('woff'),
         url('roboto-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('roboto-black.eot');
    src: url('roboto-black.eot?#iefix') format('embedded-opentype'),
         url('roboto-black.woff') format('woff'),
         url('roboto-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('roboto-thinitalic.eot');
    src: url('roboto-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-thinitalic.woff') format('woff'),
         url('roboto-thinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('roboto-lightitalic.eot');
    src: url('roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-lightitalic.woff') format('woff'),
         url('roboto-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('roboto-italic.eot');
    src: url('roboto-italic.eot?#iefix') format('embedded-opentype'),
         url('roboto-italic.woff') format('woff'),
         url('roboto-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('roboto-mediumitalic.eot');
    src: url('roboto-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-mediumitalic.woff') format('woff'),
         url('roboto-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('roboto-bolditalic.eot');
    src: url('roboto-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-bolditalic.woff') format('woff'),
         url('roboto-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('roboto-blackitalic.eot');
    src: url('roboto-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-blackitalic.woff') format('woff'),
         url('roboto-blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto_condensedlight';
    src: url('robotocondensed-light.eot');
    src: url('robotocondensed-light.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-light.woff') format('woff'),
         url('robotocondensed-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
/*
@font-face {
    font-family: 'Roboto Condensed New Regular';
    src: url('robotocondensed-regular.eot');
    src: url('robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-regular.woff') format('woff'),
         url('robotocondensed-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('robotocondensed-bold.eot');
    src: url('robotocondensed-bold.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-bold.woff') format('woff'),
         url('robotocondensed-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('robotocondensed-lightitalic.eot');
    src: url('robotocondensed-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-lightitalic.woff') format('woff'),
         url('robotocondensed-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('robotocondensed-italic.eot');
    src: url('robotocondensed-italic.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-italic.woff') format('woff'),
         url('robotocondensed-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('robotocondensed-bolditalic.eot');
    src: url('robotocondensed-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-bolditalic.woff') format('woff'),
         url('robotocondensed-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/