
/* ==== Bootstrap required for back to top styles ==== */
#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -82px;
  right: 10px;
}
#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 18px;
  right: 10px;
}
/* ==== // Bootstrap required for back to top styles ==== */


.admin-max-width-normal {
  max-width: 400px;
}

.admin-textarea {
  max-width: 100%;
  height:300px;
}

.admin-input-title {
  margin-top: 2em;
}

.admin-input {
  margin-top:10px;
  margin-bottom:10px;
}
.admin-input-number {
  width: 150px;
  margin-top:10px;
  margin-bottom:10px;
}



.admin-text-align-left {
  text-align: left;
}
.admin-text-align-right {
  text-align: right;
}
.admin-text-align-center {
  text-align: center;
}

.admin-th-title {
  width: 50%;
}
.admin-th-slug {
  width: 20%;
}


.blog-img-thumb {
  max-width: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.admin-quantity-quick-input {
  background-color: #fff;
  width: 250%;
  border: 1px solid #000;
  padding: 2px 4px;
  margin-left: -10px;
}

.admin-item-preview-img {
  position: absolute;
  max-width: 600px;
}


.admin-product-additional-images-holder {
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 120px;
}

.admin-product-additional-images-holder div {
}
.admin-product-additional-images-holder img {
  max-height: 100px;
  margin: 10px;
  cursor: move;
}

.admin-selected-image-to-delete {
  border: 2px solid #d32a0e;
}

.admin-order-product-view-img {
  height: 140px;
  width: auto;
}

.admin-order-cigar-view-img {
  width: 400px;
  height: auto;
}