/* ======= POP WINDOW ======= */

#age_verification_screen {
  display: block;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.95);
  padding: 0;
  margin:0;
  color: $color-default !important;

  .av-buttons-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .av-choice_btn {
    display: inline-block;
    margin: 10px 15px;
  }

  .av-content-wraper {
    //height: auto;

    .av-logo {
      max-width: 144px;
      @media only screen and (max-height: 740px), only screen and (max-device-height: 740px){
        max-width: 84px;
      }
    }
    .av-eithteen-sign {
      margin-top: 40px;
    }

  }

}