/* ======= BACKTOTOP ======= */

$btt-side-lg: 52px;
$btt-side-sm: 40px;

#backtotop {
  position: fixed;
  display: block;
  cursor: pointer;
  width: $btt-side-lg;
  height: $btt-side-lg;
  top: 71px;
  border-radius: $btt-side-lg * 2;
  background-color: $color-light;
  background-image:url($images-style-dir + "ic_keyboard_arrow_up_black_24px.svg");
  background-repeat: no-repeat;
  background-position: ( $btt-side-lg - 24px ) / 2;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  transition: left $transition-time-short $transition-delay-medium, background-color $transition-time-short;
  
  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
    display: none;
  }
  
  &:hover {
    background-color: $color-light*1.2;
  }
  
}

.backtotop-visible {
  left: 10px;
}

.backtotop-hidden {
  left: -$btt-side-lg;
}




#backtotop_sm {
  position: fixed;
  display: none;
  cursor: pointer;
  width: $btt-side-sm;
  height: $btt-side-sm;
  bottom: 56px;
  border-radius: $btt-side-sm * 2;
  background-color: $color-light;
  background-image:url($images-style-dir + "ic_keyboard_arrow_up_black_24px.svg");
  background-repeat: no-repeat;
  background-position: ( $btt-side-sm - 24px ) / 2;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  transition: right $transition-time-short $transition-delay-medium, background-color $transition-time-short;
  
  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
    display: block;
  }
  
  &:hover {
    background-color: $color-light*1.2;
  }
  
}

.backtotop-sm-visible {
  right: 10px;
}

.backtotop-sm-hidden {
  right: -$btt-side-lg;
}