@mixin btn-mixin {
  display: block;
  font-family: robotolight;
  font-size: 21px;
  font-style: $font-style-default;
  text-align: center;
  box-sizing: border-box;
  background-color: $color-default;
  border: 1px solid $color-default;
  color: #000 !important;
  text-transform: uppercase;
  margin: 15px auto 5px;
  padding: 8px 25px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color $transition-time-medium, color $transition-time-medium;
  min-width: 160px;

  &:hover {
    background-color: $color-light;
  }
  &:focus {
    background-color: $color-light;
  }

  &:active {
    background-color: $color-light * 1.5;
  }
}


button {
  @include btn-mixin;
}

.btn-sm {
  font-size: 14px !important;
  text-transform: none !important;
  padding: 7px 15px 5px !important;
}

/* makes elements feel like buttons do :) */

.btn-like {
  @include btn-mixin;
}





.product-amount-multiplier-btn {
  $pam_size : 48px;
  $pam_icon_size : 24px;
  top: 18px;
  display: inline-block;
  width: $pam_size;
  height: $pam_size;
  margin: 0 3px;
  background-color: $color-default / 2;
  //background-image:url($images-style-dir + "ic_add_24px.svg");
  background-position-x: ($pam_size - $pam_icon_size) / 2;
  background-position-y: ($pam_size - $pam_icon_size) / 2;
  background-repeat: no-repeat;
  //border-radius: 2px;
  color: $color-default;
  cursor: pointer;
  opacity: .5;
  transition: opacity $transition-time-medium;

  &:hover {
    opacity: 1;
  }
  &:active {
    background-color: $color-default / 1.5;
  }
}
.pam-minus {
  background-image:url($images-style-dir + "ic_remove_24px.svg");
}
.pam-plus {
  background-image:url($images-style-dir + "ic_add_24px.svg");
}





.cart-reg-btn {
  max-width: 200px;
}

.cart-submit-btn {
  max-width: 260px;
}

.btn-max-width {
  max-width: 260px;
}