@keyframes cart_update_popup_animation {
  0%   {top: -60px; display: none;}
  2%   {top: -60px; display: block;}
  22%  {top: 0px;}
  80%  {top: 0px;}
  98% {top: -60px; display: block;}
  100% {top: -60px; display: none;}
}

.cart-update-popup {
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  padding: 10px;
  overflow: hidden;
  //background-color: rgba(224,215,158,.95);
  //background-color: #c5c1a8;


  background-color: #111117;
  background-image:url($images-style-dir + "topbar_bg.png");
  background-repeat: repeat-x;
  background-position: center 0;
  
  border-bottom: 1px solid #444;

  color: $color-light;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,1);
  font-size: 14px;

  animation-name: cart_update_popup_animation;
  animation-duration: 1.5s;
}


.cart-user-saved-info-data {
  //margin: 5px auto;
  padding: 3px 10px;
  display: inline-block;
  border: 1px dotted $color-default / 3;
  text-align: center;
  font-size: .8em;
  cursor: pointer;
  color: $color-default / 1.3;
  background-color: #0c0c0c;
  transition: all $transition-time-short;
  
  &:hover {
    background-color: #222;
    color: $color-light;
  }
}



.cart-reserved-pic {
  display: block;
  margin: 0 auto 40px;
  width: 100%;
  max-width: 387px;
}