// === COLORS ===

.color-black {
  color: #000;
}

.color-white {
  color: #fff;
}


// === BG COLORS ===


.bg-color-black {
  background-color: #000;
}

.bg-color-white {
  background-color: #fff;
}





// === SITE CUSTOM COLORS ===

.color-ha-default {
  color: $color-default;
}

.color-ha-light {
  color: $color-light !important;
}



// === BG COLORS ===

.bg-color-ha-default {
  background-color: $bg-color-default;
}
