// ======= CONTAINERS =======

.container-fluid {
  @include container;
  max-width:100%;
}
.container {
  @include container;
  max-width:$landscape-width-lg;
}


// ======= ROWS AND COLUMNS =======

.row {
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}

.column {
  position: relative;
  display: block;
  box-sizing: border-box;
  vertical-align: top;
  //padding: $column-default-side-padding;
  padding: 0 $column-default-side-padding;
  float: left;
  transition: all .3s;

  /*	&:first-child {
                  float:right;
          }*/
}

// ======= Side Padding =======

.side-padding {
  padding-left: $left-side-padding !important;
  padding-right: $right-side-padding !important;
}

.side-padding-double {
  padding-left: $left-side-padding * 2 !important;
  padding-right: $right-side-padding * 2 !important;
}

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*
.side-padding-dependant {}
*/