/* ======= SECTION DEVIDER ======= */

.section-devider {
  @include section-devider;
  height: 2px; 
}
.section-devider-topnavbar {
  @include section-devider;
  height: 1px; 
}


/* ============================================= */
/* ======= THE MOST TOP ELEMENTS OF PAGE ======= */
/* ============================================= */

#top {
  display: block;
  height: 0;
  max-height: 0;
}


/* ======= TOP ELEMENTS OF ALL PAGES ======= */

.face-section {
  background-image:url($images-style-dir + "face_section_bg_image.jpg");
  text-align: center;

  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){ 
    display: none;
  }

  .fs-logo {
    display: inline-block;
    margin: 40px auto 10px;
    max-width: 328px; // image width 288px but we do padding
    padding: 0 20px;
  }


  .fs-small-slogan {
    font-family: robotomedium;
    font-size: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #bbb488;
  }

  .fs-link-active-state-indicator {
    display: block;
    margin: 4px auto 0;
    height: 1px;
    width: 0;
    background-color: #837d55;
    opacity: 0;
    transition: all $transition-time-short;
  }

  ul {
    display: block;
    margin: 30px auto 30px;
    list-style-position: initial;
    list-style-type: none;
    text-align: center;
    color: $color-light;

    @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){ 
      display: none;
    }

    li {
      display: inline-block;
      font-size: 24px;
      margin: 0 10px;

      &:hover .fs-link-active-state-indicator {
	opacity: 1;
	width: 100%;
      }

      a {
	text-decoration: none;
      }
    }
  }

}


/* ======= BANNER ======= */

.main-banner-container {
  margin-top: 40px;
  padding-left: $column-default-side-padding;
  padding-right: $column-default-side-padding;
  @media only screen and (max-width: $landscape-width-lg), only screen and (max-device-width: $landscape-width-lg){ 
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}


/* ======= BLOG ANOUNCE CARDS ======= */

.blog-anounce-cards {
  margin-top: 40px;

  @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){ 
    margin-top: 20px;
  }

  div {
    margin-bottom: 20px;
  }

  h3 {
    text-align: center;
    font-size: 1.6em;
  }

  p {
    text-align: center;
    font-size: 1.1em;
  }

  p.small {
    font-size: 12px;
  }

  a {
    text-decoration: none;
    transition: color $transition-time-medium;
    &:hover {
      color: $color-light;
    }
  }

  img {
    border: 5px solid $color-default / 2;
    transition: border $transition-time-medium;
    &:hover {
      border: 5px solid $color-default;
    }
  }

}

/* ======= BLOG SECTION SQUARE CELL ======= */

.blog-square-cell {
  padding-bottom: 10px;

  &:nth-child(4n+1) {
    clear: both;
  }
  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}



/* Каталог Habanos */

.h1-catalog-habanos {
  font-size: 3.8em;
}

/* Каталог Habanos # sign */
.span-catalog-habanos {
  display: inline-block;
  top: 6px;
  margin-left: 20px;
  background-image:url($images-style-dir + "habanos_specialist_small.jpg");
  background-repeat: no-repeat;
  width: 42px;
  height: 52px;
  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    display: none;
  }
}




/* ======= текст с линией маленький ======= */

.lined-text-small-container {
  text-align: center;

  .line-text-line {
    border: 1px solid #262417;
    top: 12px;
  }
  .line-text-text {
    font-size: 11px;
    font-family: robotomedium;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 5px 15px;
    color: #9d9565;
    background-color: #000; // the same as background
  }
}

/* ======= текст с линией большой ======= */

.lined-text-header-container {
  margin-top: $side-padding-default;
  text-align: center;

  .line-text-line {
    border: 1px solid #262417;
    top: 22px;
  }

  .line-text-line-light {
    border: 1px solid #dad9ce;
    top: 22px;
  }

  .line-text-text {
    font-size: 24px;
    font-family: robotolight;
    display: inline-block;
    padding: 5px 15px;
    color: #9d9565;
    background-color: #000; // the same as background
  }

  .line-text-text-light {
    font-size: 24px;
    font-family: robotolight;
    display: inline-block;
    padding: 5px 15px;
    color: #9d9565;
    background-color: #e9e8df; // the same as background
  }
}


/* ======= PAGINATION ======= */

.pagination {
  margin-top: 40px;
  text-align: center;
  color: $color-default / 1.5;

  a {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    border: 1px solid $color-default / 1.5;
    color: $color-default / 1.5;
    background-color: inherit;
    padding: 6px 15px;
    margin: 0 2px 5px;
    transition: all $transition-time-medium;

    &:hover {
      background-color: $color-default;
      color: #000;
    }
  }

  strong {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    border: 1px solid $color-default / 1.5;
    color: #000;
    background-color: $color-default;
    padding: 6px 15px;
    margin: 0 2px 5px;
  }
}






/* ======= BLOG SECTION ROW ======= */

.blog-announce-row-horizontal {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  //border-bottom: 1px solid $color-default / 4;

  h3 {
    font-family: robotothin;
    margin-top: 0;
    color: $color-default * 1.4;

    a {
      text-decoration: none;
      color: $color-default * 1.4;
      transition: color $transition-time-medium;

      &:hover {
	color: $color-default * 1.8;
      }
    }
  }


  img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 20px 15px 0;
    border: 5px solid $color-default / 2;
    transition: border $transition-time-medium;

    &:hover {
      border: 5px solid $color-default;
    }
  }
}

.blog-read-more {
  //display: inline-block;
  //text-align: center;
  //background-color: $color-default;
  //color: #000 !important;
  //text-decoration: none;
  //padding: 3px 10px;
  color: $color-default;
  font-family: robotomedium;
  text-transform: uppercase;
  font-size: 11px;
  transition: all $transition-time-medium;
  &:hover {
    color: $color-light;
  }
}

.article-date {
  font-size: 11px;
  color: $color-default / 1.3;
}

.captcha-container {
  margin: 30px auto;

  #captcha_img {
    display: block;
    margin: 0 auto;
    border: 1px solid $color-default;
  }
}


.js-text-link {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  transition: color $transition-time-medium;

  &:hover {
    color: $color-light;
  }
}



/* ======= BRANDS PAGE ======= */

.brands-collection-container {
  margin-top: 40px;
}

.brand-container {
  // var
  $brand-img-width: 197px;

  text-align: center;
  color: $color-default * 1.2;
  margin-top: 10px;
  margin-bottom: 20px;

  &:nth-child(4n+1) {
    clear: both;
  }
  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    &:nth-child(2n+1) {
      clear: both;
    }
  }

  .brand-img-wrapper {
    margin: 0 auto;
    padding: 1px;
    max-width: $brand-img-width + 4px;
    background-color: #000;
    border: 2px solid $color-default;
    box-shadow: 4px 2px 5px rgba(0,0,0,.6);
    transition: all $transition-time-medium;

    &:hover {
      border: 2px solid $color-light;
    }
  }

  img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: $brand-img-width;
    opacity: .9;
    transition: opacity $transition-time-medium;

    &:hover {
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
    transition: color $transition-time-medium;
    &:hover {
      color: $color-light;
    }
  }
}



/* ======= CATALOG SUPER 4 CATEGORIES ======= */

.super-4-cats {
  background-color: #0c0c0c;
  text-align: center !important;
  text-transform: uppercase;

  #ha_cats_container {
    margin-left: 24px;
    margin-right: 24px;
    @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){
      margin-left: 46px;
      margin-right: 46px;
    }
  }

  #cats_nav {
    position: absolute;
    text-align: center;
    width: 100%;
    height:100%;

    .owl-nav-dir-custom {
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
      width: 24px;
      height: 100%;
      top: 0;
      cursor: pointer;
      margin: 0;
      opacity: .5;
      transition: all $transition-time-medium;

      &:hover {
	opacity: 1;
      }

      @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){
	width: 46px;
      }

    }

    .owl-prev {
      left: 0;
      @extend .owl-nav-dir-custom;
      background-image:url($images-style-dir + "ic_chevron_left_24px.svg"); 
    }

    .owl-next{
      right: 0;
      @extend .owl-nav-dir-custom;
      background-image:url($images-style-dir + "ic_chevron_right_24px.svg");
    }
  }

  .super-cat {
    margin-top: 30px;
    margin-bottom: 30px;

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 270px;
      margin: 0 auto;
    }

    h3 {
      color: $color-default * 1.3;
      font-family: robotolight;
      font-size: 18px;
    }

    p {
      font-size: 10px;
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
      transition: color $transition-time-medium;
      &:hover {
	color: $color-light;
      }
    }
    /*
    &:nth-child(4n+1) {
      clear: both;
    }
    */
    @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
      margin-top: 10px;
      margin-bottom: 10px;

      /*
      &:nth-child(2n+1) {
	clear: both;
      }
      */
    }

    @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
      p {
	font-size: 9px;
      }
    }

  }

}



/* ======= CIGAR ROW IN SELECTION ARRAY ======= */

.cigar-row {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-default / 4;

  &:first-child {
    margin-top: 40px;
  }

  &:last-child {
    border-bottom-style: none;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){
    text-align: center;
  }

  a {
    text-decoration: none;
    transition: all $transition-time-medium;

    &:hover {
      color: $color-light;
    }
  }

  img {
    display: block;
    margin: 10px auto 15px;
    width: 100%;
    max-width: 660px;
  }

  h4 {
    font-size: 17px;
    color: $color-default * 1.25;
  }

  .cigar-row-filter-description {
    margin: 2px 0 4px 0;
    font-size: 11px;
    line-height: 12px;

    span {
      &:last-child {
	color: $color-default * 1.2;
      }
    }
  }

  .cigar-row-price {
    font-size: 18px;
  }

  .cigar-row-add-to-cart-btn {
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    padding: 4px 10px;
    margin-top: 10px;
    background-color: $color-default / 6;
    border: 1px solid $color-default / 2.5;
    transition: all $transition-time-medium;

    &:hover {
      background-color: $color-default / 2.5;
    }
  }

}

.cigar-ajax-row {
  @extend .cigar-row;

  &:last-child {
    border-bottom: 1px solid $color-default / 4;
    margin-bottom: 5px;
  }
}


/* ======= PRODUCT CELL IN SELECTION ARRAY ======= */

.products-array {
  margin-top: $side-padding-default;
}

.product-cell {
  margin: 0;
  text-align: center;
  //border: 1px solid $color-default / 3;

  .product-cell-inner {
    display: block;
    height: 100%;
    margin: $side-padding-default auto;
    //border: 1px solid $color-default / 4;
    //background-color: #111;
    padding-top: 0;

    &:hover {
      //background-color: #111;
    }

  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    //border: 5px solid $color-default / 2;
  }

  a {
    text-decoration: none;
    transition: all $transition-time-medium;

    &:hover {
      color: $color-light;
    }
  }

  .product-cell-price {
    font-size: 18px;
  }

  h4 {
    margin-top: 20px;
    font-size: 17px;
    color: $color-default * 1.25;
  }

  .product-cell-description {
    font-size: 11px;
  }

  .product-cell-add-to-cart-btn {
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    padding: 4px 10px;
    margin-top: 10px;
    background-color: $color-default / 6;
    border: 1px solid $color-default / 2.5;
    transition: all $transition-time-medium;

    &:hover {
      background-color: $color-default / 2.5;
    }
  }

  &:nth-child(4n+1) {
    clear: both;
  }

  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}


.cat-img-container {
  margin: 50px auto 40px;
}

.search-result-number {
  font-size: 1.6em;
  top: 1px;
}



.product-cigar-img-container {
  //margin: 0 auto 25px;
  margin: 0 auto;
  max-width: 660px;
  width: 100%;
}

.product-common-img-container {
  //margin: 0 auto 25px;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.product-pack-img-container {
  //margin: 0 auto 25px;
  margin: 25px auto;
  width: 100%;
  max-width: 300px;
}


.packs-container {
  margin-top: 30px;
}

.pack-header {
  margin-top: 20px;
  color: $color-light;
}

.hr-pack-devider {
  margin-top:30px;
  &:last-child {
    display: none;
  }
}

.available-next-variants-arrow {
  width: 24px;
  height: 24px;
  margin: 30px auto 0;
  background-image:url($images-style-dir + "ic_expand_more_24px.svg");
}



.empty-cart-pic {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
}


.cart-common-product-img {
  width: 99px !important;
}



.profile-pic {
  display: block;
  margin: 30px auto;
  width: 80px;
  max-width: 80px;
}

.cigars-for-welcome {
  display: block;
  margin: 30px auto;
  width: 100%;
  max-width: 400px;
}


.rsp-img-holder {
  height: 60px;
  //overflow: hidden;

  .recently-seen-common-product {
    margin: 0 auto;
    $rsp_height: 60px;
    width: $rsp_height !important;
    height: $rsp_height !important;
  }
}



.string-link-like {
  color: $color-default;
  cursor: pointer;
  text-decoration: underline;
  transition: color $transition-time-medium;
  &:hover {
    color: $color-light;
  }
}

#show_further_base_element {
  margin-top: $offset-top-default * 2;
}