/* ======= БЛОК ФИЛЬТРОВОГО ПОИСКА ======= */

.filter-search-div {
  margin-top: 20px;
  margin-bottom: 40px;
}

.filter-submit-container {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.filter-btn-ok {
  display: inline-block;
  margin: 15px 10px 5px;
  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
    display: block;
    margin: 15px auto 5px;
    width: 100%;
  }
}

.filter-btn-reset {
  display: inline-block;
  margin: 15px 10px 5px;
  background-color: $color-default/1.4;
  border-color: $color-default/1.4;
  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){ 
    display: block;
    margin: 15px auto 5px;
    width: 100%;
  }
}


.filter-cell {
  margin: 10px auto 20px;

  @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){
    text-align: center;
  }

  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){ 
    padding: 5px 10px 10px;
    margin: 3px auto;
    border-bottom: 1px solid $color-default / 4;
  }
}

.filter-name-str {
  color: $color-default;

  &::after {
    content: ': ';
  }

  @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){ 
    display: block;

    &::after {
      content: '';
    }
  }
}

.filter-value-str {
  color: $color-light;
  //cursor: pointer;

  @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){
    display: inline-block;
  }

  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
    margin-top: 5px;
    font-size: 16px;
  }
}

.search-submit-or-reset-note {
  color: #63604b;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
}


.filter-string-cell {

  &:nth-child(4n+1) {
    clear: both;
  }

  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}



.filter-found-by-criteria-string {
  text-align: center;
  color: $color-default;
  font-size: 11px;


  li {
    list-style: none;
    display: inline-block;

    span {
      word-break: keep-all;

      &:nth-of-type(1n+1) {
	margin-left: 15px;
      }

      &:nth-of-type(2n) {
	margin-left: 0;
	margin-right: 15px;
	color: $color-default * 1.3;
      }
    }

  }

  //word-break: keep-all;
  //white-space: nowrap;

}