/* ======= FILTER WINDOW ELEMENTS ======= */


.flt-closer {
  position: fixed;
  top:28px;
  left:25px;
  background-image:url($images-style-dir + "menu_closer_cross.svg");
  background-repeat: no-repeat;
  width:20px;
  height:20px;
  opacity:.5;
  cursor:pointer;
  transition: opacity $transition-time-medium;
  &:hover {
    opacity: 1;
  }
  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
    top: initial;
    left: initial;
    bottom: 20px;
    right: 20px;
  }
}


.flt-logo {
  display: block;
  width: 140px;
  height: 60px;
  margin: $offset-top-default auto 0;
  background-image:url($images-style-dir + "menu_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: all $transition-time-medium;

}

/* ======= FILTER WINDOW ======= */

.flt-window {
  background-color: #e9e8df;
  width: 100%;
  padding-top: $side-padding-default * 2;
  padding-bottom: $side-padding-default * 2;

  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }

  .flt-vals-container {
    margin-top: $side-padding-default * 2;
    text-align: center;
  }



  // CEPO FILTER STARTS
  .flt-cepo-cell {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 15px;

    .flt-cepo-form {
      display: block;
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto;
      color: #eee;
      border-radius: 100%;
      border: 1px solid rgba(0,0,0,.25);
      cursor: pointer;
      box-shadow:  2px 2px 5px rgba(0,0,0,.3) inset;
      text-shadow: 0 2px 5px rgba(0,0,0,.4);
      transition: all $transition-time-short;

      &:hover {
	background-color: #333 !important;
	color: #fff !important;
      }
      &:active {
	background-color: #000 !important;
      }
    }
    
    .flt-cepo-form-desc {
      margin-top: 6px;
      font-size: 11px;
      color: #777;
    }

  }

  // cepo filter end

  // LISTED FILTER STARTS

  .flt-listed-value {
    margin: 0 auto;
    padding: 15px 10px;
    display: block;
    width: auto;
    text-align: center;
    max-width: 280px;
    font-size: 15px;
    cursor: pointer;
    transition: all $transition-time-short;

    &:hover {
      background-color: #222;
      color: $color-light;
    }
  }

  // for vitola
  .flt-listed-value-vitola {
    margin: 0 auto $offset-top-default;
    padding: 15px 10px;
    display: block;
    width: auto;
    max-width: 100%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: all $transition-time-medium;

    &:hover {
      color: #822;
      //text-decoration: underline;
    }

    .flt-vitola-img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: auto;
      max-width: 260px;
      transition: all $transition-time-short;
      @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
	max-width: 200px;
      }
    }
    
    span {
      font-size: 9px;
    }
  }

  // BRANDS STARTS

  .flt-brand-cell-li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100px;
    margin: 0 5px $offset-top-default;
    line-height: 12px;
    cursor: pointer;
    transition: all $transition-time-medium;
    
    img {
      transition: all $transition-time-medium;
    }
    
    &:hover {
      color: #000;
      
      img {
	box-shadow: 0 0 5px rgba(0,0,0,.2);
      }
    }

    .flt-brand-img {
      width: inherit;
      display: block;
      margin: 0 auto 5px;
      border: 1px solid #ddd;
    }

    .flt-brand-name {
      font-size: 11px;
    }

  }



}

