// === FONTS ===

@import "/assets/css/fonts/robotonew/font.css";

$font-family-default:'robotolight', sans-serif;
//$font-family-default:'robotothin', sans-serif;
$font-size-default: 15px;
$line-height-default:  auto;
$font-weight-default: normal; // but see in font specificationss. It can be values 300, normal, 300, 400 or something…
$font-style-default: normal;

