/* ======================================= */
/* ======= FOOTER ELEMENTS OF PAGE ======= */
/* ======================================= */

footer {
  margin-top: 50px;

  a {
    text-decoration: none;
  }

  .footer-brands-logos-section {
    background-image:url($images-style-dir + "footer_logos_bg.png");

    @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){ 
      display: none;
    }

    ul {
      margin: 0;
      list-style-position: initial;
      list-style-type: none;
      text-align: center;
      display: block;

      li {
	display: inline-block;
	margin: 0;
	padding: 10px;

	transition: all $transition-time-medium;

	&:hover {
	  background-color: rgba(0,0,0,.6);
	  box-shadow: 0 0 20px #000 inset;
	}
      }

      img {
	display: inline-block;
      }
    }
  }

  .footer-info-section {
    display: block;
    background-color: #9d9565;
    margin:0;

    .footer-address {
      margin: 0 auto;
      padding: 30px 0 20px;
      color: #3f3d2e;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;

      @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){ 
	font-size: 12px;
      }
    }

    .footer-info-text{
      margin: 0 auto;
      padding: 20px 0 30px;
      color: #57533a;
      text-align: center;
      font-size: 13px;
      line-height: 16px;

      @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){ 
	font-size: 12px;
      }
    }

    .footer-hs-top-image {
      background-image:url($images-style-dir + "footer_hs_top.png");
      width: 230px;
      height: 39px;
      margin: 0 auto;
    }



    ul {
      display: block;
      margin: 0 auto;
      list-style-position: initial;
      list-style-type: none;
      text-align: center;

      li {
	display: inline-block;
	margin: 0 7px;
	opacity: .5;
	transition: all $transition-time-medium;

	&:hover {
	  opacity: 1;
	}

	a {
	  text-decoration: none;
	}
      }
    }



  }

  .footer-bottom-section {
    background-color: #0f0f0f;
    color: #7b7656;

    .footer-hs-bottom-image {
      background-image:url($images-style-dir + "footer_hs_bottom.png");
      width: 100px;
      height: 12px;
      margin: 0 auto;
    }

    .footer-bottom-copyright {
      display: block;
      font-size: 13px;
      text-align: center;
      margin-bottom: 10px;
      float: left;

      @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){ 
	margin-top: 10px;
	margin-bottom: 0;
	float: none;
      }

    }

    .footer-bottom-policies {
      display: block;
      text-align: center;
      font-size: 11px;
      margin-bottom: 10px;
      float: right;

      @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){ 
	float: none;
      }

      a {
	transition: all $transition-time-medium;

	&:hover {
	  color: $color-default;
	}
      }
    }
  }

}
