/* ======= FORM COMMON ELEMENTS ======= */

form {
  display: block;
}

.filter-block-form {
  //display: none;
}

.login-form {
  max-width: 460px !important;
  margin: 40px auto;
}


.product-order-amount-input {
  max-width: 120px;
}


input[type=text],input[type=email],input[type=password] {
  display: inline-block;
  box-sizing: border-box;
  background-color: #ccc;
  background-color: #c5c1a8;
  border: 1px solid gray;
  //font-family: inherit;
  font-family: robotomedium;
  color: #2b2b28;
  text-align: center;
  font-size: 18px;
  width:100%;
  height: 48px;
  margin: 10px 0;
  padding: 0 20px;
  transition: all .3s;
}

textarea {
  display: block;
  box-sizing: border-box;
  background-color: #c5c1a8;
  border: 1px solid #99afc5;
  font-family: robotomedium;
  font-size: 1.2em;
  color: #2b2b28;
  text-align: center;
  width:100%;
  height: 140px;
  margin: 5px 0;
  padding: 10px 20px;
  //resize: none;
  resize: vertical;
  transition: all .3s;
}


.input-text-label {
  font-size: 16px;
  display: block;
  text-align: center;
  margin-top:20px;
  margin-bottom: 5px;
}

.alert {
  color: $color-danger;
  text-align: center;
}

.input-error {
  border:1px solid red !important;
  box-shadow: inset 0 0 10px red;
}
.input-init {
}
.input-success {
  border:1px solid limegreen !important;
  box-shadow: inset 0 0 10px limegreen;
}

// Checkbox and Radio
/*
* http://dimox.name/custom-checkboxes-and-radio-buttons-using-css-only/
* http://vvz.nw.ru/Lessons/CSS/selectors.htm#sibling
*/

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #666;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #bbb;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all $transition-time-short;
}

/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  background: #9FD468;
  //background: $color-pt-red * 4;
  background: limegreen / 1.3;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
  left: 26px;
  background: #fff;
}





.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #777;
  border-radius: 50%;
  background: #ddd;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  background: maroon;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all $transition-time-medium;
}
.radio:checked + label:after {
  opacity: 1;
}








