html {
  /*cursor: url("/images/style/mouse_cursor_default.png"), default;*/
  cursor: default;
}

/* ======= BODY ======= */

body {
  background-color: $bg-color-default;
  background-color: #000;
  color: $text-color-default;
  text-align: $text-align-default;
  //background-image:url($images-style-dir + "site_pattern_01.png");


  font: {
    family:$font-family-default;
    weight: $font-weight-default;
    style: $font-style-default;
    size: $font-size-default;
  }
  //line-height: $line-height-default;
  /*width: inherit;*/
  margin: 0 auto;
  //margin-top:$topbar-height;
  display: block;

  * {
    //  display: block;
    position: relative;
    box-sizing: border-box;
  }
}



/* ======= SELECTION ======= */

::selection {
        color:#000;
        background: $color-light;
}

::-moz-selection {
        color:#000;
        background: $color-light;
}

/* ======= OUTLINE ======= */

*,*:hover, *:focus, *:visited  {
  outline-style: none;
}

/* ======= PLACEHOLDER ======= */

::-webkit-input-placeholder {
  text-align: center;
  color:#c8cacd;
  color:#908c75;
  //color:#373737;
}
/* Firefox 18- */
:-moz-placeholder { 
  text-align: center;  
  color:#c8cacd;
  color:#908c75;
  //color:#373737;
}
/* Firefox 19+ */
::-moz-placeholder {
  text-align: center; 
  color:#969ba1;
  color:#908c75;
  //color:#373737;
}
:-ms-input-placeholder {  
  text-align: center;
  color:#c8cacd;
  color:#908c75;
  //color:#373737;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}


/* ======= A ======= */

a, a:hover, a:focus, a:visited  {
  //text-decoration: none;
  color: inherit;
}

/* ======= ADDRESS ======= */

address {
  //font-style: inherit;
}

/* ======= DISPLAY TYPES ======= */

.block {
  display: block !important;
}
.hidden, .none {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
.inline-block {
  display: inline-block !important;
}

/* ======= SPECIFIC RULES ======= */

.blurred {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
}

.bordered-block-bevel {
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(0,0,0,.5);
}
.bordered-block-emboss {
  border-top: 1px solid rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.full-width {
  width:100% !important;
}




/* ======= ALIGNING BLOCKS ======= */

.center-block {
  margin-left: auto !important;
  margin-right: auto !important;
}
.right-block {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.left-block {
  margin-left: 0 !important;
  margin-right: auto !important;
}



/* ======= IMAGES ======= */

img {
  @include img;
}

.img-responsive {
  @include img;
  width: 100%;
}

/* ======= FLOATING ======= */

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.clear-both, .clear-fix {
  clear: both !important;
}

/* ======= POSITION ======= */

.pos-fixed {
  position:fixed !important;
}
.pos-absolute {
  position:absolute !important;
}

/* ======= TEXT ALIGNING AND FORMATTING ======= */

.text-center {
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase !important;
}

.underline, .underline:hover{
  text-decoration: underline;
}

.error-text {
  color:#f55;
}





/* ======= CURSOR ======= */

.cursor-default {
  cursor: default !important;
}
.cursor-pointer {
  cursor: pointer !important;
}







/* ======= BACKGROUNDS ======= */

.bg-cover {
  @include bg-cover;
}

.bg-cover-x {
  @include bg-cover-x;
}

.bg-pattern {
  @include bg-pattern;
}





/* ======= OFFSETS ======= */

.wrapper-vertical-offset {
  padding-top: $section-vertical-padding !important;
  padding-bottom: $section-vertical-padding !important;
}

.wrapper-vertical-offset-off {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


.offset-top-normal {
  margin-top: $offset-top-default !important;
}
.offset-top-double {
  margin-top: $offset-top-default * 2 !important;
}
.offset-top-triple {
  margin-top: $offset-top-default * 3 !important;
}
.offset-top-fourth {
  margin-top: $offset-top-default * 4 !important;
}





/* ======= UL, OL, LI ======= */

ul, ol {
  text-align: left;
  padding-left: $side-padding-default;
  padding-right: $side-padding-default;
  li {
    margin-bottom: 8px;
  }
}



/* ======= HR ======= */

hr {
  display: block;
  width: 100%;
  height: 1px;
  border-style: none;
  background-color: #323022;
}





/* ======= STRONG ======= */

strong {
  font-family: inherit;
  font-weight: normal;
}


.hover-underline {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}




