/* ======= MENU CALLER NEW ======= */

$mc-side-lg: 52px;
$mc-side-sm: 40px;

#menucaller {
  position: fixed;
  display: block;
  cursor: pointer;
  width: $mc-side-lg;
  height: $mc-side-lg;
  left: 10px;
  border-radius: $mc-side-lg * 2;
  background-color: $color-light;
  background-image:url($images-style-dir + "ic_menu_black_24px.svg"); // 24px
  background-repeat: no-repeat;
  background-position: ( $mc-side-lg - 24px ) / 2;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  transition: top $transition-time-short $transition-delay-medium, background-color $transition-time-short;

  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
    display: none;
  }

  &:hover {
    background-color: $color-light*1.2;
  }

}

.menucaller-visible {
  top: 10px;
}

.menucaller-hidden {
  top: -$mc-side-lg;
}


#menucaller_sm {
  display: none;
  position: fixed;
  cursor: pointer;

  width: $mc-side-sm;
  height: $mc-side-sm;
  right: 10px;
  border-radius: $mc-side-sm * 2;
  background-color: $color-light;
  background-image:url($images-style-dir + "ic_menu_black_24px.svg");
  background-repeat: no-repeat;
  background-position: ( $mc-side-sm - 24px ) / 2;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  transition: bottom $transition-time-short $transition-delay-medium, background-color $transition-time-short;

  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
    display: block;
  }

  &:hover {
    background-color: $color-light*1.2;
  }

}

.menucaller-sm-visible {
  bottom: 10px;
}

.menucaller-sm-hidden {
  bottom: -$mc-side-lg;
}