

/* ======= MENU WINDOW ======= */

#mw_menuwindow {
  display: block;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #e9e8df;
  //background-image:url($images-style-dir + "sbr_pattern_on_white.png");
  opacity: 1;
  padding: 0;
  margin: 0;

  .mw-cigar {
    display: block;
    position: absolute;
    //border: 1px solid red;
    bottom: 0;
    right:3%;
    height: 100%;
    width: 15%;
    max-width: 276px;
    background-image:url($images-style-dir + "menu_cigar.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    opacity: 0;
    transition: opacity $transition-time-medium;
    @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){
      display:none;
    }
  }

  .mw-leaf {
    display: block;
    position: absolute;
    //border: 1px solid red;
    top: 0;
    left:2%;
    height: 100%;
    width: 30%;
    max-width: 663px;
    background-image:url($images-style-dir + "menu_habano_leaf_sign.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    transition: opacity $transition-time-medium;
    @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){
      display:none;
    }
  }

  .mw-content {
    margin: 20px 20px 0;
    padding: 0;
    transition: all $transition-time-medium;
    opacity:1;

    .mw-content-wraper {
      margin-left: 40%;
      text-align: center;
      @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
        margin-left: 10%;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: block;
    }

    li {
      display:block;
      list-style: none;
    }


    ul li a {
      display:inline-block;
      color: $color-default / 1.2;
      text-transform: uppercase;
      margin: 4px 4px;
      cursor: pointer;
      text-decoration: none;
      font-size: .85em;
      line-height: 1em;
      transition: all $transition-time-short;

      @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
        margin: 1px 4px;
        font-size: .8em;
      }

      &:hover {
	color: $color-default / 3;
	//padding-left: 8px;
	//border-left: 1px solid $color-default;
      }
    }
  }

  .menu-active-item {
    color: $color-default / 2;
    //background-image:url($images-style-dir + "menu_active_mark.svg");
    //background-repeat: no-repeat;
    //background-position: 0 center;
    padding-left: 25px;
    left: -25px;
  }

  .mw-closer {
    //position: absolute;
    position: fixed;
    top:28px;
    left:25px;
    background-image:url($images-style-dir + "menu_closer_cross.svg");
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    opacity:.5;
    cursor:pointer;
    transition: opacity $transition-time-medium;
    &:hover {
      opacity: 1;
    }
    @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
      top: initial;
      left: initial;
      bottom: 20px;
      right: 20px;
    }
  }


  .mw-logo {
    display: block;
    width: 185px;
    height: 95px;
    margin: 0 auto 20px 0;
    //margin-bottom: 60px;
    background-image:url($images-style-dir + "menu_logo.png");
    background-repeat: no-repeat;
    background-position: left 0;
    background-size: contain;
    transition: all $transition-time-medium;

    @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
      margin-bottom: 20px;
      width: auto;
      height: 50px;
    }

  }

  .mw-created-by {
    font-family: inherit, sans-serif;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 20px;
    text-decoration: none;
    font-size: 10px;
    text-align: left;
    color: $color-default;
    transition: $transition-time-medium;
    @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){
      display: none;
    }
    &:hover {
      color: $color-default / 2;
    }
  }

}


.menu-li-devider {
  display: block;
  width: 200px;
  border-bottom: 1px solid #d4d2c0;
}