
// for container and container-fluid
@mixin container {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}


// background cover
@mixin bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bg-cover-x {
  background-position: center center;
  background-repeat: repeat-x;
  background-size: cover;
}

@mixin bg-pattern {
  background-repeat: repeat;
}




// img
@mixin img {
  display: block;
  position: relative;
  width:auto;
  height:auto;
}

// section devider

@mixin section-devider {
  display:block;
  width:100%;
  height:1px;
  background-color: $color-default;
  background-image: url($images-style-dir + "section_devider_gold.png");
  //background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% 100%;
}
