/* ======= POP WINDOW ======= */

#pw-popwindow {
  display: block;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  padding: 0;
  margin:0;


  .pw-outer-wraper {
    display: block;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: #eee;
    color: #555;
    top: 0;
    @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){
      max-width: 96%;
    }
  }

  .pw-inner-wraper {
    display: block;
    position: relative;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0 10px;
    padding: 0 10px 5px 0;
    @media only screen and (max-height: 700px), only screen and (max-device-height: 700px){
      max-height: 360px !important;
    }
    @media only screen and (max-height: 600px), only screen and (max-device-height: 600px){
      max-height: 360px !important;
    }
  }

  .pw-btn-ok {
    margin-top: 10px;
    border: 1px solid #d5d5d5;
    background-color: #f5f5f5;
    color: #8c8c8c;
    min-width: 80px;
    height: 36px;
    cursor: pointer;
    box-shadow: 0 0 0 none;
    transition: all $transition-time-short;
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,.1);
    }
    &:focus {
    }
    &:active {
      background-color: #333;
      color: #ddd;
    }
  }

  .pw-closer {
    position: absolute;
    display: block;
    top:15px;
    left:15px;
    background-image:url($images-style-dir + "menu_closer_cross_darker.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width:16px;
    height:16px;
    opacity:.5;
    cursor: pointer;
    transition: opacity $transition-time-short;
    &:hover {
      opacity: 1;
    }
  }

  .pw-title-image {
    margin-bottom: 30px;
  }


  h1, h2, h3{
    margin-bottom: 20px;
  }

  p {
    font-size: .85em;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 3px;
  }

}