

/* ======= MENU WINDOW ======= */

#screenflasher {
  display: block;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #000;
  opacity: 1;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: opacity $transition-time-medium;
}


