/* ======= SOCIAL NET BUTTONS ======= */

.social-net-buttons {
	display: block;
	position: fixed;
	top:0;
	right:0;
	width:30px;
	height: 100%;
	padding: 0;
	margin: 0;
}

.social-net-buttons ul {
	display:block;
	margin: 0;
	padding:0;
	transition: all .2s;
}
.social-net-buttons ul:hover {
	margin-left:-24px;
}

.social-net-buttons ul li {
	display: block;
	transition: all .2s;
}
.social-net-buttons ul li a {
	display:block;
	width:100px;
	height:48px;
	background-color: #777;
	transition: .2s;
	margin-bottom: 2px;
}
.social-net-buttons ul li a:hover {
	margin-left:-24px;
	background-position: 8px 0;
	/*box-shadow: 2px 2px 0 0 rgba(0,0,0,.25);*/
	/*background-color: #ff003a !important;*/
}

#social_facebook {
	background-image: url('/images/style/social_facebook.png');
	background-repeat: no-repeat;
	background-color: #3a5795;
}

#social_vkontakte {
	background-image: url('/images/style/social_vkontakte.png');
	background-repeat: no-repeat;
	background-color: #54769a;
}

#social_instagram {
	background-image: url('/images/style/social_instagram.png');
	background-repeat: no-repeat;
	background-color: #2e5e86;
}

/*@media only screen and (max-width: 1170px), only screen and (max-device-width: 1170px){
	.social-net-buttons {
		display: none;
	}
}*/
