// SOCIAL ICONS

$si_width: 44px;
$si_height: 44px;
$si_border-radius: $si_width;


@mixin social-icon {
  display: block;
  width: $si_width;
  height: $si_height;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: $si_border-radius * 2;
  opacity: .85;
  margin: 0;
  transition: opacity $transition-time-medium;

  &:hover {
    opacity: 1;
  }
  &:active {
    box-shadow: inset 5px 5px 8px rgba(0,0,0,.5);
  }
}

.social-icon {
  @include social-icon;
}



.si-facebook{
  background-image:url($images-style-dir + "footer_icon_facebook.png");
}
.si-twitter{
  background-image:url($images-style-dir + "footer_icon_twitter.png");
}
.si-vkontakte{
  background-image:url($images-style-dir + "footer_icon_vkontakte.png");
}
.si-instagram{
  background-image:url($images-style-dir + "footer_icon_instagram.png");
}
.si-odnoklasniki{
  background-image:url($images-style-dir + "footer_icon_odnoklasniki.png");
}
.si-youtube{
  background-image:url($images-style-dir + "footer_icon_youtube.png");
}
.si-google-plus{
  background-image:url($images-style-dir + "footer_icon_google_plus.png");
}
.si-email{
  background-image:url($images-style-dir + "footer_icon_email.png");
}
.si-location{
  background-image:url($images-style-dir + "footer_icon_location.png");
}
.si-contacts{
  background-image:url($images-style-dir + "footer_icon_contacts.png");
}
.si-social-nets{
  background-image:url($images-style-dir + "footer_icon_social_nets.png");
}


// CONTAINERS FOR ICONS

.social-icons-set-wraper {
  margin: 50px auto 20px;
  padding: 0;
  height: auto;

  a {
    display: inline-block;
    margin: 5px;
    padding: 0;
  }
}



.footer-social-icons-set-wraper {
  height: $si_height;
  overflow: hidden;
  top: 30px;
  text-align: right;

  a {
    display: inline-block;
    margin-left: 10px;
  }
  
  @media only screen and (max-width: $landscape-width-xs), only screen and (max-device-width: $landscape-width-xs){
    display: none;
  }
}