h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-default;
}

h1 {
  font-family: robotothin;
  //font-size: 4.2em;
  font-size: 3em;
  text-align: center;
  color: $color-light;
  
  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    font-size: 2.2em;
  }
}

h2 {
  font-family: robotolight;
  font-size: 2.8em;
  margin-top: .5em;
  margin-bottom: .5em;
  
  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    font-size: 1.9em;
  }
}

h3 {
  font-family: robotolight;
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: .5em;
  
  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    font-size: 1.5em;
  }
}

h4 {
  font-size: 1.3em;
  margin-top: .5em;
  margin-bottom: .5em;
}

p {
  font-size: 1em;
}

.bigger {
  font-size: 1.2em;
}

.smaller {
  font-size: .8em;
}


.bold {
  font-family: robotomedium;
}

/* ======= INVERSES ======= */

/*

@mixin inverse-text-element {
  padding-left: 2px;
  padding-right: 2px;
}

.inverse-text-black-orange {
  @include inverse-text-element;
  background-color: #000 ;
  color: $color-pt-orange;
}

.inverse-text-orange-black {
  @include inverse-text-element;
  background-color: $color-pt-orange;
  color: #000;
}

.inverse-text-black-white {
  @include inverse-text-element;
  background-color: #000 ;
  color: #fff;
}

.inverse-text-magenta-white {
  @include inverse-text-element;
  background-color: $color-pt-magenta;
  color: #fff;
}

*/