/* ======= TOP NAV BAR ======= */

#topnavbar {
  display: block;
  width: 100%;
  padding: 0 $side-padding-default;
  height: 61px;
  color: inherit;
  //border-bottom: 1px solid rgba(0,0,0,.5);
  background-color: #000;
  background-image:url($images-style-dir + "topbar_bg.png");
  background-repeat: repeat-x;
  background-position: center 0;

  a {
    text-decoration: none;
    //color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

}

.tnb-user-string {
  display: block;
  margin-right: 30px;
  height: 61px;
  font-size: 12px;
  top:26px;
  font-weight: bold;
  cursor: pointer;
  float: right;

  @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){ 
    display: none;
  }
}
.tnb-order-string {
  display: block;
  margin-right: 30px;
  height: 61px;
  font-size: 12px;
  top:26px;
  font-weight: bold;
  cursor: pointer;
  float: right;

  @media only screen and (max-width: $landscape-width-md), only screen and (max-device-width: $landscape-width-md){ 
    display: none;
  }
}


.tnb-logo-ha {
  display: block;
  width: 64px;
  height: 61px;
  margin: 0;
  padding:0;
  background-image:url($images-style-dir + "ha.png");
  background-position: 0;
  background-repeat: no-repeat;
  float: left;
  opacity: .8;
  cursor: pointer;
  transition: opacity $transition-time-medium;

  &:hover {
    opacity: 1;
  }
}


.tbn-phone-icon {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  top: 19px;
  margin: 0;
  padding:0;
  background-image:url($images-style-dir + "ic_phone_24px.svg");
  background-position: 0;
  background-repeat: no-repeat;
  float: right;
  opacity: .65;
  transition: opacity $transition-time-medium;

  &:hover, &:active {
    opacity: 1;
  }
}

.tbn-user-icon {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  top: 19px;
  margin: 0 10px 0 0;
  padding:0;
  background-image:url($images-style-dir + "ic_person_24px.svg");
  background-position: 0;
  background-repeat: no-repeat;
  float: right;
  opacity: .65;
  transition: opacity $transition-time-medium;

  &:hover, &:active {
    opacity: 1;
  }
}

.tbn-order-icon {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  top: 19px;
  margin: 0 10px 0 0;
  padding:0;
  background-image:url($images-style-dir + "ic_local_grocery_store_24px.svg");
  background-position: 0;
  background-repeat: no-repeat;
  float: right;
  opacity: .65;
  transition: opacity $transition-time-medium;

  &:hover, &:active {
    opacity: 1;
  }
}


.tnb-phone-number-string {
  display: block;
  padding: 22px 0 0 0;
  margin: 0 0 0 10px;
  float: right;
  font-size: 18px;
  color: $color-light;
  cursor: default;

  @media only screen and (max-width: $landscape-width-sm), only screen and (max-device-width: $landscape-width-sm){ 
    display: none;
  }
}


#tnb_munubtn {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 19px;
  margin: 0;
  padding:0;
  background-image:url($images-style-dir + "ic_menu_24px.svg");
  background-position: 0;
  background-repeat: no-repeat;
  float: left;
  opacity: .65;
  transition: opacity $transition-time-medium;

  -webkit-animation-name: mc; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: mc;
  animation-duration: 8s;
  animation-iteration-count: infinite;

  &:hover, &:active {
    opacity: 1;
  }
}

@-webkit-keyframes mc {
  0% {top: 19px;}
  93% {top: 19px;}
  96% {top: 15px;}
  98% {top: 21px;}
}
@keyframes mc {
  0% {top: 19px;}
  93% {top: 19px;}
  96% {top: 15px;}
  98% {top: 21px;}
}