// === SITE STYLE PATHS ===

// === PATHS for CSS files===
$assets_dir: "/assets/";
$images-dir:"/assets/images/";
$images-style-dir:"/assets/images/style/";


// === SITE DIMENSIONS ===

// site width when landscape orientation

$landscape-width-lg:1140px;
$landscape-width-md:960px;
$landscape-width-sm:720px;
$landscape-width-xs:540px;

/*
$landscape-height-lg:1084px;
$landscape-height-md:800px;
$landscape-height-sm:430px;
$landscape-height-xs:340px;
*/

// site width when portrait orientation
//$portrait-width-lg:1170px;
/*
$portrait-width-md:970px;
$portrait-width-sm:750px;
$portrait-width-xs:450px;
*/


// === OFFSETS ===
$left-side-padding:15px;
$right-side-padding:15px;
$side-padding-default: 15px;
$offset-top-default: 15px;

$column-default-side-padding: $side-padding-default;

$section-vertical-padding: $side-padding-default * 2;






// === TRANSITION TIME ===
$transition-time-short:.2s;
$transition-time-medium:.4s;
$transition-time-long:1s;

$transition-delay-short:.2s;
$transition-delay-medium:.4s;
$transition-delay-long:1s;




// === TEXTS ===
$text-align-default:left;



// === COLORS ===
$bg-color-default:#000; // dark gray
$text-color-default:#9d9565;
$color-default: #9d9565;

$color-light: #e0d79e;

$color-danger: #c50023;


$bg-color-site-wraper: inherit;



